.btn-primary{
    color: #2D2926FF;
    background-color: #ff6347;
    border-style: none;
}

.colorbg{
    background-color: #ff6347;
}


.icon-img{
    width: 70px;
    height: 70px;
}
.addtlSpace{
    width:100%;
}
.loginSpace{
    text-align: center;
    width: 600px;
    height: 500px;
    margin: auto;
}