
.authorImg{

    width: 80%;
    height: 80%;
    border-radius: 90%;
    
}

.authorImgtwo{

    width: 90%;
    height: 90%;
    
}

.authorTitle{

    font-size: 45px;
    color: #FFFF;
    border-radius: 90%;
}
