.btn-primary{
    color: #2D2926FF;
    background-color: #ff6347;
    border-style: none;
}

.colorbg{
    background-color: #ff6347;
}


.icon-img{
    width: 70px;
    height: 70px;
}
.addtlSpace{
    width:100%;
}
.registerSpace{
    text-align: left;
    width: 600px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    border-color: black;
    box-shadow: inset;
}
